.summary-list__row {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.summary-list__cell {
    width: calc(100%/ 3);
}

.summary-list__cell > p {
    text-align: center;
}