.table > .table__header {
    height: 40px;
    padding: 0 20px;
    margin-bottom: 7px;
}

.table__row {
    height: 50px;
    padding: 0 20px;
    margin-bottom: 5px;

    background: #e9ebf5;
    color: #616161;
    font-size: 14px;
    border-radius: 4px;
}

.table > .table__row:last-child {
    margin-bottom: 0;
}
